<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" href="/">
      <svg class="bi me-2" width="40" height="32" aria-hidden="true">
        <use xlink:href="/"></use>
      </svg>
      <span class="fs-4"><i class="fa-regular fa-compass"></i></span>
    </a>

    <button class="navbar-toggler" type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/">Home</a>
        <a class="nav-link" href="/listings">Listings</a>
        <a class="nav-link" href="/listings/new">New</a>
      </div>
    </div>
  </div>
</nav>
