
<% layout('layouts/boilerplate') -%>
<body>
  <div class="container py-4">
    <h3 class="mb-4">All listings.</h3>

    <form action="/listings/new" method="GET" class="mb-4">
      <a href="/listings/new" class="btn btn-primary mb-4">Create New Listing</a>
    </form>

    <ul class="list-group">

      <% listings.forEach(listing=> { %>
        <li class="list-group-item">
          <a href="/listings/<%= listing._id %>">
            <%= listing.title %>
          </a>
        </li>
        <% }) %>
    </ul>

  </div>

</body>
