<% layout('layouts/boilerplate') -%>

  <body>
    <div class="container py-4">
      <h3 class="mb-4">All listings.</h3>

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 g-4">
        <% for (let i=0; i < listings.length; i++) { %>
          <a href="/listings/<%= listings[i]._id %>" class="text-decoration-none text-dark">
            <div class="col">
              <div class="card " syle="width: 18rem;">
                <img src="<%= listings[i].img %>" class="card-img-top" alt="...">
                <div class="card-img-overlay"> </div>
                <div class="card-body">
                  <b class="card-title">
                    <%= listings[i].title %>
                  </b>
                  <p class="card-pricing mb-0">₹ <%= listings[i].price %>
                  </p>
                </div>
              </div>
            </div>
          </a>
          <% } %>
      </div>

    </div>
  </body>